.tout   {
    background-color: khaki;
    height: 500px;
}
.container{
    text-align: center;
    border: 5px solid red;
    width: 500px;
    height: 700px;
    margin: auto;
    background-color: whitesmoke;
}
h1  {
margin-top: 40px;
}
input {
    width: 350px;
    height: 30px;
}
.button{
    background-color: rgb(19, 171, 19);
    color: white;
    border: none;
}